#footer{
    background: linear-gradient(0deg,#1c3643,#273b47 25%,#1e5372);
  }
  
  #footer a{
    color: #FFFFFF;
  }
  #fondo{
    display: none;
  }
  #circlechart{
    /* background-color: red; */
    background-image: url("../src/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
  }